{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="sorties-list">
        <fieldset>
            <legend class="gras">Selectionnez vos critères de recherches</legend>
            <div>
                {% include 'sortie/filtre.html.twig' %}
            </div>
            <table class="table-dark" >
                <tr class="tableHeader">
                    <td>Nom de le sortie</td>
                    <td>Date de la sortie</td>
                    <td>Clôture inscription sortie</td>
                    <td>Nbr inscrits max</td>
                    <td>Infos sortie</td>
                    <td>Etat</td>
                    <td>Inscrit</td>
                    <td>Organisateur</td>
                </tr>
                {% for sortie in sorties %}
                    <tr class="tableBody">
                        <td>
                            <a class="gras" href="http://localhost/Sortie/public/sortie/afficher/{{ sortie.id }}">{{ sortie.nom }}</a>
                        </td>
                        <td>{{ sortie.dateheuredebut|date('d-m-Y H:i:s') }}</td>
                        <td >{{ sortie.datelimiteinscription|date('d-m-Y') }}</td>
                        <td>{{ sortie.nombreInscriptionMax }}</td>
                        <td>{{ sortie.infosSortie }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        {% if sortie.user.id == sortie.id %}
                            <td>X</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ sortie.user.pseudo }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <button type="button" class="btn btn-dark"><a href="http://localhost/sortie/public/sortie/creation">Créer une sortie</a></button>
        </fieldset>
    </section>
{% endblock %}