{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="sorties-list">
        <fieldset>
            <legend>Selectionnez vos critères de recherches</legend>

            <div>
                {% include 'sortie/filtre.html.twig' %}
            </div>
            <table>
                <tr class="tableHeader">
                    <td>nom de le sortie</td>
                    <td>campus</td>
                    <td>nbr inscrits max</td>
                    <td>infos sortie</td>
                    <td>Etat</td>
                    <td>Inscrit</td>
                    <td>Organisateur</td>
                </tr>
                {% for sortie in sorties %}
                    <tr class="tableBody">
                        <td>
                            <a href="http://localhost/Sortie/public/sortie/afficher/{{ sortie.id }}">{{ sortie.nom }}</a>
                        </td>
                        <td>{{ sortie.campus.nom }}</td>
                        <td>{{ sortie.nombreInscriptionMax }}</td>
                        <td>{{ sortie.infosSortie }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        {% if sortie.user.id == sortie.id %}
                            <td>X</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ sortie.user.pseudo }}</td>
                    </tr>
                {% endfor %}
            </table>

        </fieldset>
        <br>
        <div>
            <button type="button"><a href="http://localhost/sortie/public/sortie/creation">Créer une sortie</a></button>
        </div>
    </section>
{% endblock %}