{% extends 'base.html.twig' %}


{% block body %}
    <section class="sorties-list">
        <fieldset>
            <legend>Selectionnez vos critères de recherches</legend>

            <div>
                {% include 'sortie/filtre.html.twig' %}
            </div>
            <table>
                <tr class="tableHeader">
                    <td>Nom de le sortie</td>
                    <td>Campus</td>
                    <td>Nbr inscrits max</td>
                    <td>Infos sortie</td>
                </tr>
                {% for sortie in sorties %}
                    <tr class="tableBody">
                        <td><a href="http://localhost/Sortie/public/sortie/afficher/{{sortie.id}}">{{ sortie.nom }}</a></td>
                        <td>{{ sortie.campus.nom }}</td>
                        <td>{{ sortie.nombreInscriptionMax }}</td>
                        <td>{{ sortie.infosSortie }}</td>
                    </tr>
                {% endfor %}
            </table>

        </fieldset>
        <br>
        <div>
            <button type="button"><a href="http://localhost/sortie/public/sortie/creation">Créer une sortie</a></button>
        </div>
    </section>
{% endblock %}